:root {
  --font-*: initial;
  --font-outfit: Outfit, sans-serif;
  --breakpoint-*: initial;

  --color-current: currentColor;
  --color-transparent: transparent;
  --color-real: #123456;

  --shadow-theme-md:
    0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
}
